:host {
  flex: 1;

  display: grid;
  grid-template-columns: 33% 1fr;
  justify-items: center;
  text-align: center;
}

.illustration {
  display: flex;
  padding: 100px;
}

.login-form {
  margin-top: -200px;
  max-width: 400px;
  width: 100%;

  form {
    display: contents;
  }

  p-fluid {
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    --p-message-text-font-size: .8rem;
    --p-message-simple-content-padding: .3rem .5rem;
  }
}

h4 {
  letter-spacing: 2px;
}
