:host {
  flex: 1;

  display: grid;
  grid-template-columns: 33% 1fr;
  justify-items: center;
  text-align: center;
}

.illustration {
  display: flex;
  padding: 10rem;
}

.login-form {
  margin-top: -20rem;
  max-width: 40rem;
  width: 100%;

  form {
    display: contents;

    --p-form-field-lg-font-size: 2rem;
    --p-iftalabel-font-size: 1.5rem;
    --p-iftalabel-input-padding-top: 2.5rem;
    --p-inputtext-lg-font-size: var(--p-form-field-lg-font-size);
    --p-button-lg-font-size: 1.5rem;
    --p-button-lg-padding-y: 1.6rem;
    --p-message-simple-content-padding: .5rem
  }

  p-fluid {
    display: flex;
    gap: 2.4rem;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

h4 {
  letter-spacing: 2px;
}
