<div class="illustration">
    <img src="./icons/login-illustration.svg" alt="illustration" />
</div>
<div class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p-fluid>
            <h4>Sign in to your account</h4>
            <app-form-field
                [required]="true"
                id="email"
                [control]="loginForm.controls.email"
                label="Email"
            />
            <app-form-field
                [required]="true"
                id="password"
                type="password"
                [control]="loginForm.controls.password"
                label="Password"
            />
            <p-button
                [loading]="isSubmitting$ | async"
                size="large"
                label="Sign in"
                fluid="true"
                type="submit"
            ></p-button>
        </p-fluid>
    </form>
</div>
